body {
  font-family: Arial;
  background: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

input {
  width: 80%;
  padding: 10px;
}

button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
}
